.message {
  height: 2.5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  margin: 3rem 0 4rem 0;
}

.message span {
  font-size: 1.2rem;
  color: #fff;
}

.btn {
  background-color: #3f51b5;
  width: 100px;
  border-radius: 2rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-right: 1rem;
}

.btn:hover {
  background-color: #6078ff;
}

.file-path:focus,
.validate {
  border-bottom-color: #3f51b5 !important;
  box-shadow: 0 0.5px 0 #3f51b5 !important;
}

.file__form {
  margin: 3rem 0;
}

button[type='submit'] {
  width: 100%;
}

.progress {
  margin: 2rem 0;
  height: 2rem;
  border-radius: 1rem;
  background-color: #b5c0ff;
}

.determinate {
  font-size: 1rem;
  text-align: center;
  line-height: 1.8rem;
  background-color: #3f51b5 !important;
  color: #fff;
}

.file__container {
  width: 600px;
  margin: 4rem auto;
  text-align: center;
}

.file__container .file__name {
  margin-bottom: 3rem;
}

.file {
  width: 50%;
  border-radius: 2rem;
}
